.user-item {
  width: 100%; /* Adjust as needed */
  /* Other styles */
  margin: 0.3rem 0;
}

.user-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: white;
  background: #292929;
}

.user-item a:hover,
.user-item a:active {
  background: #ffd900;
}

.user-item__content {
  width: 100%;
  background-color: #000; /* Set background color to black */
  /* Add any other styles you need for the card */
}


.user-item__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.user-item__info h2 {
  font-size: 1.5rem;
  margin: 5px 20px 5px 5px;
  font-weight: normal;
  color: #ffd900;
}

.user-item:hover h2,
.user-item:active h2,
.user-item:hover h3,
.user-item:active h3 {
  color: #292929;
}

.user-item__info h3 {
  margin: 5px 0;
}

.user-item__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.user-item__follow-button {
  margin-left: auto; /* Pushes the button to the right */
  /* Additional button styling */
}


