.album-item {
    margin: 1rem 0;
    background-color: #121212; /* Spotify dark background */
    color: #fff; /* Light text for contrast */
    border-radius: 8px;
  }
  
  .album-item__content {
    padding: 1rem;
  }
  
  .album-item__info {
    text-align: center;
  }
  
  .album-item__info h2,
  .album-item__info h3,
  .album-item__info p {
    margin: 0.5rem 0;
    color: #000000; /* Spotify green for titles */
  }
  
  .album-item__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #282828; /* Slightly lighter border for separation */
  }
  
  .album-item__actions button,
  .album-item__actions a {
    margin: 0.5rem;
    background-color: #1DB954; /* Spotify green for buttons */
    color: #fff;
    border: none;
  }
  
  .album-item__actions button:hover,
  .album-item__actions a:hover {
    background-color: #1ED760; /* Lighter green on hover */
  }
  
  .album-item__modal-content {
    padding: 0;
    background-color: #121212; /* Consistent modal background */
  }
  
  .album-item__modal-actions {
    text-align: right;
    background-color: #121212; /* Consistent modal actions background */
  }
  
  
  @media (min-width: 768px) {
    .album-item__image {
      height: 20rem;
    } 
  }